body,html {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
    position: relative;
}
div#leftside {
    position: absolute;
    left: 0;
    width: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background: #8a8a8a;
    padding: 1%;
    height: 100%;
    overflow: hidden;
    transition: 1s linear;
}
div#leftside:hover {
    position: absolute;
    left: 0;
    width: 220px;
}
div#leftside ul {
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 70px;
    left: 0;
}
div#leftside p {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 10px;
}
.icon {
    display: flex;
    width:75px;
    height: 75px;
}
.edit {
    background: url(images/edit.png) center/cover no-repeat;
}
.favorites {
    background: url(images/favorites.png) center/cover no-repeat;
}
.history {
    background: url(images/history.png) center/cover no-repeat;
}
.security {
    background: url(images/security.png) center/cover no-repeat;
}
.settings {
    background: url(images/settings.png) center/cover no-repeat;
}
div#leftside li.menu-item {
    display: flex;
    width: 220px;
}
div#leftside li.menu-item:hover {
    background: #707070;
    cursor: pointer;
}
div#rightside {
    width: 95%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3%;
    margin-left: 5%;
}